<%- include('partials/styleOnlyHeader'); %> 

<div class="my-account-header">
    <h3 style="font-size: 35px;">My Account</h3>
</div>  
<div class="profile-pass">
   <!-- <img id="profile-pic" src="images/download.jpg" width="140px; " alt="error">-->
    <div class="my-account-sidebar">
        <h4>Personal Info</h4>  
        <div class="reg-div">
            <div class="user-right">
                <div class="user-left">

                    <img id="profile-pic" src="images/download.jpg" width="140px; " alt="error"> 
                </div>
                <form action="/account" method="post">
                    <p style="font-size: 18px;font-family: 'Roboto', sans-serif;">Name</p>
                    <% var userName = ("displayName" in  locals.user) ? locals.user.displayName : false; %>
                    <input id="txtFirst" name="displayName" type="text" value="<%= userName %>">
                    <p style="font-size: 18px;font-family: 'Roboto', sans-serif;">E-mail</p>
                    <% var email = ("displayName" in  locals.user) ? locals.user.email : false; %>
                        <input id="txtE-mail" type="email" name="email"  value="<%= email %>">

                    <button id="updateProfile" type="submit">Save</button>

                </form>
            </div>
                  
                        <% if (locals.errors && locals.errors.profile) { %>
                        <% locals.errors.profile.forEach(function(error) { %>
                            <p class="alert alert-primary-prof" role="alert"><%= error %></p>
                    <% }) %>
                    <% } %>
    
        </div>        
        

    
    <div class="reg-div-pass">
        <form action="/password" method="post">
            <p style="font-size: 18px;font-family: 'Roboto', sans-serif;">New Password</p>
            <% var email = ("displayName" in  locals.user) ? locals.user.newPassword : false; %>
            <input type="password" name="password" placeholder="Password">
            <p style="font-size: 18px;font-family: 'Roboto', sans-serif;">Confirm Password</p>
            <% var email = ("displayName" in  locals.user) ? locals.user.confirmPassword : false; %>
            <input type="password" name="passwordConfirm" placeholder="Confirm Password">

            <button id="updatePassword" type="submit">Save</button>

        </form>

        <% if (locals.errors && locals.errors.password) { %>
            <% locals.errors.password.forEach(function(error) { %>
                <p class="alert alert-primary-pass" role="alert"><%= error %></p>
                <% }) %>
                <% } %>
    
    </div>                        
</div>


<%- include('partials/footer'); %>


<style>
.my-account-sidebar {
    background-color: #FAD155;
}
.my-account-header {
    height: 200px;
    padding-top: 40px;
    padding-left: 750px;
    
}

.my-account-sidebar {
    background-color: #FA9200;
    width: 300px;
    height: 690px;
}

.profile-pass {
    background-color: #FAD155;
    margin-top: -80px;
    border-color: green;

}

.alert-primary-prof{
  background-color: white;
  color: black;
  width: 300px;
  border-color: white;
  border-radius: 0px;
  border-style: solid;
  border-width: thick;
  border-left-color: yellow;
  margin-left: 200px;
  margin-top: 16px;

}

.alert-primary-pass {
  background-color: white;
  color: black;
  width: 700px;
  border-radius: 0px;
  border-style: solid;
  border-width: thick;
  border-left-color: yellow;
  margin-left: -10px;
  margin-top: 16px;
}

.user-left {
  display: block;
  padding-top: 20px;
  padding-right: 30px;
  width: 400px;
}

.user-right {
  display: flex ;
  width: 500px;
}


</style>