<%- include('partials/styleOnlyHeader'); %> 



<div class="reg-div">
    <div class="title">
    <h1>Profile Update</h1>
    </div>
    <form action="/account" method="post">
        <p style="font-size: 18px;font-family: 'Roboto', sans-serif;">Name</p>
        <% var userName = ("displayName" in  locals.user) ? locals.user.displayName : false; %>
        <input id="txtFirst" name="displayName" type="text" value="<%= userName %>">
        <p style="font-size: 18px;font-family: 'Roboto', sans-serif;">E-mail</p>
        <% var email = ("displayName" in  locals.user) ? locals.user.email : false; %>
        <input id="txtE-mail" type="email" name="email"  value="<%= email %>">

        <button id="updateProfile" type="submit">Update Profile</button>

    </form>

        <% if (locals.errors && locals.errors.profile) { %>
            <% locals.errors.profile.forEach(function(error) { %>
                <p class="alert alert-primary" role="alert"><%= error %></p>
            <% }) %>
        <% } %>

</div>

<div class="reg-div-pass">
    <div class="title">
    <h2>Password Update</h2>
    </div>
    <form action="/password" method="post">
        <p style="font-size: 18px;font-family: 'Roboto', sans-serif;">New Password</p>
        <% var email = ("displayName" in  locals.user) ? locals.user.newPassword : false; %>
        <input type="password" name="password" placeholder="Password">
        <p style="font-size: 18px;font-family: 'Roboto', sans-serif;">Confirm Password</p>
        <% var email = ("displayName" in  locals.user) ? locals.user.confirmPassword : false; %>
        <input type="password" name="passwordConfirm" placeholder="Confirm Password">

        <button id="updatePassword" type="submit">Update Password</button>

    </form>

        <% if (locals.errors && locals.errors.password) { %>
            <% locals.errors.password.forEach(function(error) { %>
                <p class="alert alert-primary" role="alert"><%= error %></p>
            <% }) %>
        <% } %>
</div>


<%- include('partials/footer'); %>