<%- include('partials/styleOnlyHeader'); %> 

<div class="channels-main">
	<div class="channels-header" style="display: flex; height: 130px;">
		<h3 style="font-family: 'Chewy', cursive; font-size: 50px; margin-right: 60px; font-weight: bolder;">Waffle</h3>
		<div class="profile-header" style=" display: flex;  margin-left: 1124px;">
			<div class="prof-pic">
				<img src="images/download.jpg" width="80px;" alt="error" style="border-radius: 50%;">
			</div>
			<div class="display-name" style="margin-top: 25px;">
			<h2 style="font-size: 28px;">Display Name</h2>
			</div>
		</div>

	 <div class="channel-title">
		<h1 style="font-size: 30px;">Create Channel</h1>
	 </div>
	


	 
	</div> 
	<div style="display: flex;">
	<div class="channels-sidebar">
		<% 
		var channels = locals.channels
		var owned = ("owned" in  channels) ? channels.owned : false
		var subscribed = ("subscribed" in  channels) ? channels.subscribed : false
		%>
		<div id="owned-channels" class="user-channels">
			<h4>Your Channels</h4>
		<% if (owned) { %>
			<ul>
			<% owned.forEach(function(channel) { %>
				<li>
					<img src="<%= channel.image %>" alt="<%= channel.name %>">
					<a href="/channel/<%= channel.id %>/"><%= channel.name %></a>
					<a href="/channels/delete/<%= channel.id %>/"><i class="fa fa-trash" aria-hidden="true"></i></a>
				</li>
			<% }) %>
			</ul>
		<% }  %>
		</div>
		<div id="subscribed-channels" >
			<h4>Subscribed Channels</h4>
		<% if (subscribed) { %>
			<ul>
			<% subscribed.forEach(function(channel) { %>
				<li>
					<img src="<%= channel.image %>" alt="<%= channel.name %>">
					<a href="/channel/<%= channel.slug %>/"><%= channel.name %></a>
				</li>
			<% }) %>
			</ul>
		<% }  %>
		</div>
		

     </div>
	
		<div class="create-channel">
			<h1 style="font-size: 20px;">Channel Name</h1>
					<% var users = locals.channels.users %>
				<form id="channel-create-form" action="/channels/add" method="post" enctype="multipart/form-data">
					
					<input type="text" class="form-control" name="name" value="">
					
						<input type="file" class="custom-file-input" name="avatar" id="avatar-upload">
					<% if (users) { %>
						<% users.forEach(function(user) { %>
							<div style="display: flex; margin-left: 50px; margin-top: -20px;">
							<input class="user-check-input" id="user<%= user.id %>" type="checkbox"name="users" value="<%= user.id %>">
							<p style="margin-left: 60px;"><%= user.name %></p> </div>
						<% }) %>
					<% } %>
				
					<button id="update"  type="submit">Create Channel</button>
				</form>
		    </div>
		</div>		
	</div>
</div>
	




<style>

#update:hover{
	opacity: 0.97;
	color: #494545;
}

#update{
	transition: 0.3s;
	background-color: #1F36C6;
	color: white;
	border: 1px solid yellow;
	font-size: medium;
	padding: 8px;
	border-radius: 6px;
	margin-left: 170px;
	outline: none;
}
.create-channel{
	width: 400px;
	height: 300px;
	padding: 50px;
	padding-top: 60px;
	background-color: yellow;
	margin-left: 470px;
	margin-top: 140px;
	border-radius: 9px;
}
.channels-header{
	width: auto;
	background-color: #F9A912;
	padding: 30px;

}

.channels-sidebar {
	background-color: #F9A912;
	padding-top: 20px;
	width: 250px;
	height: 692px;
}

.img {
	border-radius: 50%;
}

.channel-title {
	background-color: #FFC107;
	margin-bottom: -140px;
	margin-top: 100px;
	height: 50px;
	margin-left: -1355px;
	margin-right: -30px;
	width: 1700px;
}



</style>